<!DOCTYPE html>
<html>
<head>
    <title>Streams.moe</title>

    <%= favicon_link_tag  %>
    <%= javascript_include_tag "https://vjs.zencdn.net/5.8.8/video.js" %>
    <%= javascript_include_tag 'winter/'+params[:controller] %>

    <%= stylesheet_link_tag "https://vjs.zencdn.net/5.8.8/video-js.css" %>
    <%= stylesheet_link_tag 'winter/'+params[:controller] %>
</head>
<body>

<%= yield %>

</body>
</html>
