<!DOCTYPE html>
<html>
<head>
    <title>Streams.moe</title>

    <%= favicon_link_tag  %>
    <%= stylesheet_link_tag 'spring/'+params[:controller] %>
    <%= stylesheet_link_tag "//vjs.zencdn.net/6.7/video-js.min.css" %>
</head>
<body>

<%= yield %>

</body>
<footer>
    <%= javascript_include_tag "//vjs.zencdn.net/6.7/video.min.js" %>

    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.min.js" %>
</footer>
</html>
