<div id="chat" :class="{compactmode: mode=='compact'}" >
    <div v-show="state == 'login'" id="user-form">
        <div class="option-container">
            <div>
                <p>What do you want to be called?</p>
                <input @keyup.enter="login" v-model="userBox"></input>
            </div>
        </div>
    </div>
    <div id="options">
        <div v-show="state != 'login'"  @click="options" class="option-button options"><i class="fa fa-cog" aria-hidden="true"></i></div>
        <div v-show="state != 'login'"  @click="userList" class="option-button users"><i class="fa fa-users" aria-hidden="true"></i> {{users.length}}</div>
    </div>
    <div v-show="state == 'options'" id="option-menu" style="transform: translateY(-100%);">
        <div class="option-container">
            <div id="name">
                <p>Change name?</p>
                <input @keyup.enter="options" v-model="userBox">
            </div>
            <div>
                <p>Compact?</p>
                <div id="compact-mode">
                    <p>
                        <a @click="switchMode('compact')" :class="[mode == 'compact' ? 'on' : 'off' ]">YES</a> /
                        <a @click="switchMode('full')" :class="[mode == 'full' ? 'on' : 'off' ]">NO</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div v-show="state == 'users'" id="user-list" style="transform: translateY(-100%);">
        <div class="option-container users-list">
            <div v-for="onlineUser in users">
                <p>{{onlineUser.username == user ? onlineUser.username+" (you)": onlineUser.username}}</p>
            </div>
        </div>
    </div>
    <div @click="state = 'ready'" v-show="state == 'expanded'" id="expanded">
        <img @click="state ='ready'" :src="expandedImage">
        <a :href="expandedImage" target="_blank" >Open original</a>
    </div>
    <div v-show="emoteListShow(chat_box)" id="emote-list">
        <div v-for="emote in filterEmotes(emoteList,chat_box)" @click="insertEmote(emote,chat_box)">
            <img :src="'/emotes/'+emote+'.png'" class="emote-preview"> <h3>:{{emote}}:</h3>
        </div>
    </div>
    <div @click="scrollToBottom()" style="transform: translateY(100%)" id="scroll-down-widget">
        <i class="fa fa-angle-double-down" aria-hidden="true"></i>
    </div>
    <div @scroll="lockAutoScroll()" :class ="{blur: state != 'ready',compact: mode=='compact',full: mode=='full'}" id="message-box" ref="messageBox">
        <div class="parent" v-for="message in messages">
            <div v-if="message.user" class="message">
                <div v-if="mode == 'compact'" class="inline-time">{{message.created_at | time}}  </div>
                <b>{{message.user}}</b>
                <span class="date">{{message.created_at | time}}</span>
                <br>
                <span v-html="markedMessage(message.text)"></span>
                <div v-for="image in messageImages(message.text)">
                    <img @click="expandImage(image)" :src="image">
                </div>
            </div>
            <div v-else class="info">{{message.text}}</div>

        </div>
    </div>
    <textarea autofocus autocomplete="off" inputmode="latin-prose"
              id="chat-box" ref="chatBox" @keydown.enter.prevent="sendMessage" v-model="chat_box"></textarea>
</div>
