<div>
    <div class="header" id="bar">
        <%= image_tag "logo.svg", class: "logo" %>
        <div class="countdown">
            <span id='clock' data-content='<%= @stream_start_time %>'>LIVE IN</span>
        </div>
        <div class="countdown">
        </div>
        <div class="ad">
            K-on! Rewatch! <br>
            EVERY DAY!
            <%= image_tag "K-on.png", class: "ad-image"%>
        </div>
        <%= render "schedule_full" %>
    </div>

    <div class = "content ">
        <div id="container" class="container">
	          <div class = "video-container" id = "video-container">
	              <%= render "video" %>
	              <button class="button hide-in-theather" onclick="window.open('video.html', 'Keion streams!', 'width=1280, height=720'); return false;">
	                  Pop out video
	              </button>
 	              <button class="button" id="theather-mode">
                    Theather mode
                </button>

	              <span id='viewers' class = "button viewers"></span>
	          </div>
            <div class = "chat-container" id = "chat-container">
                <%= render 'chat' %>
	              <button class="button" onclick="window.open('chat', 'Keion chat!', 'width=640, height=720'); return false;">
	                  Pop out chat
	              </button>
            </div>
        </div>
    </div>
</div>


<%= javascript_include_tag 'spring/'+params[:controller] %>
