<div class="content">
	  <%= render 'video' %>
    <script>
     var getViewerCount = function(){
         var video = videojs('my-video');
         if (!video.paused()){
             var params = "?playing=true";
         } else {
             var params = "";
         }
         fetch('/viewers'+params)
     };

     window.onload = function(){
         getViewerCount();
         window.setInterval(getViewerCount,30000);
     };

    </script>
</div>
