<video id="my-video" class="video-js vjs-default-skin" width="100%" height="100%"  controls preload="auto"
poster="<%= image_url("poster.jpg") %>" data-setup="{}">
  <source
     src="http://live.streams.moe/live2/stream/index.m3u8"
     type="application/x-mpegURL">
</video>
