<title>Have a comfy Xmas!</title>

<%= favicon_link_tag  %>
<%= javascript_include_tag 'https://content.jwplatform.com/libraries/31neEUmb.js' %>
<script>jwplayer.key=SQNUCXYswLs2xnldFgZWzsFJOEHIuxTzXbNIyQ== </script>
<%= javascript_include_tag 'christmas/'+params[:controller] %>

<%= stylesheet_link_tag "http://vjs.zencdn.net/5.8.8/video-js.css" %>
<%= stylesheet_link_tag 'christmas/'+params[:controller] %>

<%= yield %>
