<div class="header" id="bar">
  <%= image_tag "logo.svg", class: "logo" %>
  <div class="countdown">
    <span id='clock' data-content='<%= @stream_start_time %>'></span>
  </div>
  <div class="countdown">
  </div>
  <%= render "schedule_full" %>
</div>

	<div class = "content ">
	  <div class = "video-container">
	    <%= render "video" %>
	    <button class="button" onclick="window.open('video.html', 'Keion streams!', 'width=1280, height=720'); return false;">
	      Pop out video
	    </button>
	    <span id='viewers' class = "button viewers"></span>
	  </div>
	</div>
	
	<div class = "chat-container">
	  <iframe src="https://kiwiirc.com/client/irc.rizon.net/#/k-on/" style="border:0; width:100%; height:100%;"></iframe>
	  <button class="button" onclick="window.open('chat.html', 'Keion chat!', 'width=1280, height=720'); return false;">
	    Pop out chat
	  </button>
	</div>

	<%= javascript_include_tag "http://vjs.zencdn.net/5.11.7/video.js" %>
</div>

