// Stolen mixin http://stackoverflow.com/questions/23240114/

@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


$primary : #234D1E;
$primary-alt : #BDCCD0;
$secondary :  #77AB59;
$color-3 :  #D7D7B8;
$color-4 : #E5D6C9;
$color-5 : #F0F7DA;
$header  : rgba(119, 171, 89, 0.85);



body {
    margin: 0;
    padding: 0;
    background-color: $color-5;

}

.header {
    position: fixed;
    left: auto;
    height: 3em;
    width: 100%;
    background-color: $header;
    overflow: hidden;
    padding-bottom: 2%;
    z-index: 10;
    transition: height 1s;
}

.header:hover{
    height: 30em;
}

.schedule_day {
    float: right;
    position: relative;
    width: 11%;
    padding-left: 10px;
    font-family: "Coolvetica";
    color: $color-3;
    letter-spacing: 2px;
}

.schedule_title {
    color: #f4ead5;
    letter-spacing: normal;
}

.countdown {
    padding-left: 15%;
    padding-top: 10px;
    font-size: 45px;
    font-family: "Lemon Milk";
    color: #f4ead5;
    position: relative;
    width: 100%;
}

.logo {
    @include centre(y);
    height: 95%;
    width: 10%;
    min-height: 150px;
    padding-top: 1%;
    padding-left: 1%;
    float: left;
    -webkit-backface-visibility: hidden;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.blur {
    filter: blur(3px);
}

.container {
    margin-top: 8%;
    margin-left: 4%;
    margin-right: 4%;
    display: inline-flex;
    width: 92%;
    height: 78%;
}

.live {
    color: #e94e77;
}

.video-container {
    width: 66%;
    height: 85%;
}

.video-theather {
    position:absolute;
    width: 80%;
    height: 100%;
    z-index: 11;
}

.video-theather .video-js {
    height: 100% !important;
}

.video-theather .button {
    position: absolute;
    bottom: 1px;
    left: 10px;
    opacity: 0;
}

.video-theather .viewers {
    right: 5px;
    left: inherit;
}

.chat-container {
    width: 31%;
    height: 85%;
    margin-left: 3%;
}


.chat-theather {
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 11;
    right: 0%;
}

.chat-theather iframe {
    height: 100% !important;
}

.chat-theather .button{
    display: none;
}

#chat {
    width: 100%;
    height: 100%;
    background: $color-4;
    position: relative;
    overflow: hidden;
}
#chat #user-form {
    position:absolute;
    width:100%;
    height:100%;
    background: $secondary;
    opacity: 0.85;
    z-index: 1;

}

#user-form .option-container {
    margin-top: 15%;
}

#chat #options {
    height: 50px;
    background: $primary;
    position: relative;
    z-index: 3;
}

.compactmode #options {
    height: 20px !important;
}

.compactmode .option-button{
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.compactmode #chat-box {
    height: 15px !important;
}

#option-menu,#user-list {
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
    background: $primary;
    opacity: 0.85;
    z-index: 2;
    overflow-Y: auto;
}

.compactmode #option-menu,
.compactmode #user-list {
    height: calc(100% - 20px);
}

.option-container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.option-container p {
    margin-top: 15px;
    margin-bottom: 15px;
}
.option-container #compact-mode p {
    font-size: 25px;
}

#compact-mode .on {
    color: $header;
    text-decoration: underline;
    text-decoration-color: $color-3;
    cursor: pointer;
}

#compact-mode .off {
    cursor: pointer;
}

.users-list {
    padding-top: 15px;
}

#user-list {
    overflow-y: auto;
}

.users-list p {
    margin: 1px;
}

.option-button {
    font-family: "Lemon Milk";
    color: $color-4;
    cursor: pointer;
    user-select: none;
    float:right;
    font-size: 25px;
    padding: 7px;
}

#options .options {
    padding-right: 20px;
}


.option-button:hover {
    color: $secondary;
}

#emote-list {
    position: absolute;
    bottom: 40px;
    display: flex;
    background: $header;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    z-index: 1;

}

.compactmode #emote-list{
    bottom: 35px;
}

#emote-list div {
    cursor: pointer;
    padding-left: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    color: $color-5;
    font-family: "Roboto", sans-serif;
}

#emote-list div:hover {
    background: darken($header,5%);
}

#emote-list div:last-child {
    background: darken($header,10%);
}

#emote-list img {
    width: 40px;
    margin-right: 10px;
}

#scroll-down-widget {
    position:absolute;
    cursor: pointer;
    display: block;
    width: 34px;
    bottom: 42px;
    margin: 0 auto;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    background: $header;
    color: $color-5;
}

.compactmode #scroll-down-widget {
    bottom: 33px;
}

#chat p {
    text-align: center;
    color: $color-3;
    font-size: 25px;
    font-family: "Coolvetica";
    overflow: hidden;
    cursor: default;
    user-select: none;

}

#chat input {
    background: none;
    border: none;
    border-bottom: 3px solid $color-3;
    color: $color-3;
    font-size: 25px;
    font-family: "Coolvetica";

}

#chat #chat-box {
    position:absolute;
    width: calc( 100% - 20px);
    height: 24px;
    resize: none;
    border:none;
    background: #fff;
    caret-color: $primary;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#chat #message-box {
    height: calc(100% - 94px);
    overflow-y: scroll;
    overflow-wrap: break-word;
    font-family: 'Roboto', sans-serif;
    transition: 0.1s filter ease-in-out;

}

#message-box .message {
    background: rgba(255,255,255,0.3);
}

#message-box .parent:nth-child(odd) .message {
    background: rgba(137, 182, 107, 0.6);
}

#message-box .message b {
    color: $primary;
}

#expanded {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#expanded img {
    max-height: calc(80% - 35px);
    max-width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10%;
}

#expanded a {
    position: absolute;
    display: block;
    text-align: center;
    color: #F0F7DA;
    font-family: 'Coolvetica';
    text-decoration: none;
    font-size: 20px;
    bottom: 10%;
}

.message .mention {
    background: $color-5;
    color: $primary;
    border-radius: 3px;
    padding-left: 2px;
    padding-right: 2px;
}

.message a {
    color: $primary;
}

.message img {
    max-height: 150px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

img.emote {
    display: inline-block;
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
}

.full {
    width: 96%;
    margin-left: 2%;
    padding-right: 2%;
}

.full .message{
    display: inherit;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 7px;
    border-radius: 5px;
}



.info {
    text-align: center;
    width: auto;
    opacity: 0.5;
    font-size: 14px;
    padding-bottom: 5px;
}

.full .message .date {
    float: right;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    padding-top: 2px;
}

.compact {
    margin-left:0px;
    padding-right:0px;
    width:100%;
    height: calc(100% - 55px) !important;
}

.compact br {
    display: none;
}
.compact .date {
    display: none;
}
.compact b {
    margin-right: 5px;
}

.compact .inline-time {
    display: inline-block;
    padding-right: 5px;
}
.compact .message {
    padding:0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
}


.compact .info {
    text-align:center;
}

.button {
    background-color: $color-5;
    color: $primary;
    border: none;
    font-family: "Lemon Milk";
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    transition: opacity 2s;
}

.viewers {
    cursor: default;
    background-color: $primary !important;
    color: $color-5;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.button:hover{
    background-color: $primary;
    color: $color-5;
    opacity: 1;
}

.button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.ad {
    position: absolute;
    width: 20%;
    right: 10px;
    top: 10px;
    font-family: "Lemon Milk";
    font-size: 24px;
    color: #f4ead5;
    min-width: 350px;
}
.ad-image {
    position: absolute;
    width: 28%;
    left: -32%;
    top: -4px;
}
#video
{
    margin-left: auto;
    margin-right: auto;
}

.my-video-dimensions {
    width: 100%;
    height: 100%;
}

.video-js .vjs-big-play-button {
    top: calc(50% - 1.5em / 2) !important;
    left: calc(50% - 3em / 2) !important;
}

@font-face {
    font-family: "Lemon Milk";
    src: font-url("lemon_milk.otf") format("truetype");
}

@font-face{
    font-family: "Coolvetica";
    src: font-url("coolvetica.ttf") format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "font-awesome-sprockets";
@import "font-awesome";
