<div class="schedule">
  <% #"Shows Mon,Tue,Sat,Sun on the weekends and Fri,Mon,Sat,Sun on Friday" %>
  <% days = ([1,2,6,0]  if Time.now.wday == 0 || Time.now.wday == 6) ||
                                   ([5,1,6,0] if Time.now.wday == 5) ||
                                 [Time.now.wday,Time.now.wday+1,6,0]
  %>
  <% days.reverse_each do |index| %>
    <div class="schedule_day">
    <h2><%= Date::DAYNAMES[index] %></h2>
    <% if @shows_by_wday[index].any? %>
      <% @shows_by_wday[index].each do |show| %>
	<p class="schedule_title"><%= show[0].title %><br>
	<% if show[0].episode_count == 0 %>
	  Movie<br>
	<% else %>
	  Ep <%= show[1] %><br>
	<% end %>
	</p>
      <% end %>
    <% end %>
    </div>
  <% end %>
  

</div>
