<div id="schedule">

  <% [1,2,3,4,5,6,0].reverse_each do |index| %>
    <div class="schedule_day">
      <h2><%= Date::DAYNAMES[index] %></h2>
      <% if @shows_by_wday[index].any? %>
	<% @shows_by_wday[index].each do |show| %>
	  <p class="schedule_title"><%= show[0].title %><br>
	    <% if show[0].episode_count == 0 %>
	      Movie<br>
	    <% else %>
	      Ep <%= show[1] %><br>
	    <% end %>
	  </p>
	<% end %>
      <% end %>
    </div>
  <% end %>
  

</div>
