<video id="my-video" class="video-js" controls preload="auto" width="100%" height="56%"
       poster="<%= image_url("poster.jpg") %>" data-setup="{}">
  <source src="rtmp://a-watch.tk:1935/live/stream" type="rtmp/mp4">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>	
 </video>
