<%= form_for @show do |f| %>

  <% if @show.errors.any? %>
  <div id="error_explantion">
    <h2>
      <%= pluralize(@show.errors.count, "error") %> prohibited this
      show from being saved:
    </h2>
    <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :headliner %> <br>
    <%= f.radio_button('headliner',true) %> Yes <br>
    <%= f.radio_button('headliner',false) %> No <br>
  </p>

  <p>
    <%= f.label :episode_count %><br>
    <%= f.number_field :episode_count %>
  </p>

  <p>
    <%= f.label :episode_watched %><br>
    <%= f.number_field :episodes_watched %>
  </p>

  <p>
    <%= f.label :start_date %><br>
    <%= f.datetime_field :start_date %>
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= f.datetime_field :end_date %>
  </p>

  <p>
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>

<% end %>
