<h1>All shows</h1>
<%= link_to "Add show", new_show_path %>
<table>
    <tr>
        <th>Title</th>
    </tr>
    <% @shows.each do |show| %>
        <tr>
            <td><%= show.title %> </td>
            <td><%= link_to 'Show', show_path(show) %></td>
            <td><%= link_to 'Edit', edit_show_path(show) %></td>
            <td><%= link_to 'Destroy', show_path(show), method: :delete,
	              data: { confirm: 'Delete show?' } %></td>
        </tr>
    <% end %>
</table>


