// Stolen mixin http://stackoverflow.com/questions/23240114/
@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}


$primary-color : #941F1F;
$secondary-color :  #FFEFB9;
$color-3 :  #CE6B5D;
$color-4 : #7B9971;
$color-5 : #34502B;



body {
    margin: 0;
    padding: 0;
    background-color: $color-5;

}

.header {
    position: fixed;
    left: auto;
    height: 3em;
    width: 100%;
    background-color: $primary-color;
    overflow: hidden;
    padding-bottom: 2%;
    z-index: 1;
    transition: height 1s;
}

.header:hover{
    height: 30em;
}

.schedule_day {
    float: right;
    position: relative;
    width: 11%;
    padding-left: 10px;
    font-family: "Coolvetica";
    color: $color-3;
    letter-spacing: 2px;
}

.schedule_title {
    color: #f4ead5;
    letter-spacing: normal;
}

.countdown {
    padding-left: 15%;
    padding-top: 10px;
    font-size: 45px;
    font-family: "Lemon Milk";
    color: #f4ead5;
    position: relative;
    width: 100%;
}

.logo {
    @include centre(y);
    height: 95%;
    width: 10%;
    min-height: 150px;
    padding-top: 1%;
    padding-left: 1%;
    float: left;
    -webkit-backface-visibility: hidden;
}


.live {
    color: #e94e77;
}

.video-container {
    margin-top: 8%;
    margin-left: 4%;
    width: 60%;
    height: 65%;
    float: left;
}

.video-theather {
    position:absolute;
    width: 80%;
    height: 100%;
    z-index: 1;
}

.video-theather .video-js {
    height: 100% !important;
}

.video-theather .button {
    position: absolute;
    bottom: 1px;
    left: 10px;
    opacity: 0;
}

.video-theather .viewers {
    right: 5px;
    left: inherit;
}

.chat-container {
    position: relative;
    margin-right: 4%;
    margin-top: 8%;
    width: 30%;
    height: 65%;
    float: right;
}


.chat-theather {
    position: absolute;
    width: 20%;
    height: 100%;
    z-index: 1;
    right: 0%;
}

.chat-theather iframe {
    height: 100% !important;
}

.chat-theather .button{
    display: none;
}

.button {
    background-color: $color-5;
    color: #f4ead5;
    border: none;
    font-family: "Lemon Milk";
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
    transition: opacity 2s;
}

.viewers {
    cursor: default;
    background-color: #e94e77 !important;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.button:hover{
    background-color: $color-4;
    opacity: 1;
}

.ad {
    position: absolute;
    width: 20%;
    right: 10px;
    top: 14px;
    font-family: "Lemon Milk";
    font-size: 21px;
    color: #f4ead5;
    min-width: 350px;
}
.ad-image {
    position: absolute;
    width: 35px;
    left: -50px;
    top: -10px;
}
#video
{
    margin-left: auto;
    margin-right: auto;
}

.my-video-dimensions {
    width: 100%;
    height: 100%;
}

.vjs-big-play-button {
    display: flex;
    align-items: center;
    justify-content: center
}

@font-face {
    font-family: "Lemon Milk";
    src: font-url("lemon_milk.otf") format("truetype");
}

@font-face{
    font-family: "Coolvetica";
    src: font-url("coolvetica.ttf") format("truetype");
}


.snow{
    background: none;
    font-family: Androgyne;
    background-image: url('/images/s1.png'), url('/images/s2.png'), url('/images/s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
    100% {background-position: 0px 1500px, 0px 800px, 0px 600px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
    100% {background-position: 0px 1500px, 0px 800px, 0px 600px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
