// Stolen mixin http://stackoverflow.com/questions/23240114/
@mixin centre($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }   
}





body {
    margin: 0;
    padding: 0;
    background-color: #f4ead5;
    
}

.header {
    position: fixed;
    left: auto;
    height: 3em;
    width: 100%;
    background-color: #a2bdb3;
    overflow: hidden;
    padding-bottom: 2%;
    z-index: 1;
    transition: height 1s;
}

.header:hover{
    height: 30em;
}

.schedule_day {
    float: right;
    position: relative;
    width: 11%;
    padding-left: 10px;
    font-family: "Coolvetica";
    color: #e94e77;
    letter-spacing: 2px;
}

.schedule_title {
    color: #f4ead5;
    letter-spacing: normal;
}

.countdown {
    padding-left: 15%;
    padding-top: 10px;
    font-size: 45px;
    font-family: "Lemon Milk";
    color: #f4ead5;
    position: relative;
    width: 100%;
}

.logo {
    @include centre(y);
    height: 95%;
    width: 10%;
    min-height: 150px;
    padding-top: 1%;
    padding-left: 1%;
    float: left;
    -webkit-backface-visibility: hidden;
}


.live {
    color: #e94e77;
}

.video-container {
    margin-top: 8%;
    margin-left: 4%;
    width: 60%;
    float: left;
}

.chat-container {
    position: relative;
    margin-right: 4%;
    margin-top: 8%;
    width: 30%;
    height: 95%;
    float: right;
}

.button {
    background-color: #a2bdb3;
    color: #f4ead5;
    border: none;
    font-family: "Lemon Milk";
    font-size: 15px;
    cursor: pointer;
    margin-top: 5px;
}

.viewers {
    background-color: #e94e77 !important;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.button:hover{
    background-color: #c6a49a;
}

#video
{
    margin-left: auto;
    margin-right: auto;
}

.my-video-dimensions {
    width: 100%;
    height: 65%;
}

.vjs-big-play-button {
    display: flex;
    align-items: center;
    justify-content: center
}

@font-face {
    font-family: "Lemon Milk";
    src: font-url("lemon_milk.otf") format("truetype");
}

@font-face{
    font-family: "Coolvetica";
    src: font-url("coolvetica.ttf") format("truetype");
}




