<p>Add airdate</p>
<%= form_for([@show, @show.air_dates.build]) do |f| %>
  <p>
    <%= f.label :date %>
    <%= f.datetime_field :date %>
  </p>
  <p>
    <%= f.label :episode %>
    <%= f.number_field :episode %>
  </p>
  <p>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
