<h1>
  <strong>
    <%= @show.title %>
  </strong>
</h1>

<p>
  <% if @show.headliner %>
    <strong>Headliner</strong><br>
  <% end %>
  <% if @show.episode_count != 0 %>
    <%= pluralize(@show.episode_count, "episode") %>
    (<%= @show.episodes_watched %> watched)<br>
  <% end %>
  <% if @show.start_date || @show.end_date %>
    <strong>Airs</strong>
    <% if @show.start_date %>
      <%= @show.start_date.to_date %> <strong>to</strong>
    <% end %>
    <%=  @show.end_date.to_date %>
  <% end %>
  <br>
  at <%= @show.end_date.utc.strftime("%H:%M") %>
  (<%= @show.length %>min)
</p>

<p>
  <%= @show.description %>
</p>


<% if @show.air_dates.any? %>
<table>
  <tr>
    <th>Date</th>
    <th>Episode</th>
    <th>Comment</th>
  </tr>
  <% @show.air_dates.each do |air_date| %>
  <tr>
    <td><%= air_date.date %></td>
    <td><%= air_date.episode %></td>
    <td><%= air_date.comment %></td>
    <td><%= link_to 'Destroy', [air_date.show,air_date], method: :delete,
	     data: { confirm: 'Delete show?' } %></td>
  </tr>
  <% end %>
  
</table>
<% end %>

<%= link_to "Edit" , edit_show_path(@show) %>
<%= link_to "Back" , shows_path %>
