<title>Keion Streams</title>

<%= favicon_link_tag  %>
<%= javascript_include_tag "http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js" %>
<%= javascript_include_tag params[:controller] %>

<%= stylesheet_link_tag params[:controller] %>
<%= stylesheet_link_tag "http://vjs.zencdn.net/5.11.7/video-js.css" %>


<%= yield %>
