<title>Keion Streams</title>

<%= favicon_link_tag  %>
<%= javascript_include_tag "http://vjs.zencdn.net/5.8.8/video.js" %>
<%= javascript_include_tag params[:controller] %>

<%= stylesheet_link_tag params[:controller] %>
<%= stylesheet_link_tag "http://vjs.zencdn.net/5.8.8/video-js.css" %>


<%= yield %>
